@model User;

<form asp-action="Register" asp-controller="User">
    <div class="row">
        <div class="col-3">
            <label class="col-form-label" asp-for="Email"></label>
        </div>
        <div class="col-5">
            <input class="form-control" asp-for="Email">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
        </div>
        <div class="col">
            <small><span class="text-danger" asp-validation-for="Email"></span></small>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label class="col-form-label" asp-for="UserName"></label>
        </div>
        <div class="col-5">
            <input class="form-control" asp-for="UserName">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
        </div>
        <div class="col">
            <small><span class="text-danger" asp-validation-for="UserName"></span></small>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label class="col-form-label" asp-for="Password"></label>
        </div>
        <div class="col-5">
            <input class="form-control" asp-for="Password">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
        </div>
        <div class="col">
            <small><span class="text-danger" asp-validation-for="Password"></span></small>
        </div>
    </div>
        <div class="row">
        <div class="col-3">
            <label class="col-form-label" asp-for="ConfirmPassword"></label>
        </div>
        <div class="col-5">
            <input class="form-control" asp-for="ConfirmPassword">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
        </div>
        <div class="col">
            <small><span class="text-danger" asp-validation-for="ConfirmPassword"></span></small>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-end">
            <input class="btn btn-primary" type="submit" value="Register">
        </div>
    </div>
</form>