@{
    ViewData["Title"] = "Register | Login";
}

<h1 class="display-4 mt-5">Welcome to Dojo Storefronts!</h1>
<div class="row justify-content-center mt-5">
    <div class="col-6">
        <h1 class="display-6 mb-5">Register</h1>
        <partial name="_registerForm" />
    </div>
    <div class="col-6">
        <h1 class="display-6 mb-5">Login</h1>
        <partial name="_loginForm" />
    </div>
</div>
