@{
    ViewData["Title"] = "Shopping Cart";
}

<h1 class="display-4 mt-5 mb-5">Shopping Cart:</h1>
<div class="w-50 m-auto d-flex flex-column gap-3">
    @{
        if(ViewBag.User.Cart.Count == 0)
        {
            <p>Your cart is empty.</p>
        }
        else
        {
            decimal sum = 0;

            foreach(var product in ViewBag.User.Cart)
            {
                sum += product.OrderedQuantity * product.Product.Price;
                <div class="row border rounded p-2 align-items-center justify-content-evenly">
                    <div class="col-2">
                        <img class="img-thumbnail" style="width: 75px; height: auto;" src="~/images/No_image_available.png">
                    </div>
                    <div class="col-3">
                        <p><a href="/products/@product.Product.ProductId">@product.Product.Name</a></p>
                        <small><p class="text-muted">@product.Product.HomeStorefront.Title</p></small>
                    </div>
                    <div class="col-3">
                        <p>
                            @{
                                if(product.OrderedQuantity > 1)
                                {
                                    <a href="/cart/subtract/@product.Product.ProductId"><i class="fa-solid fa-minus"></i></a>
                                }
                            } Qty: @product.OrderedQuantity  <a href="/cart/add/@product.Product.ProductId"><i class="fa-solid fa-plus"></i></a></p>
                    </div>
                    <div class="col-2">
                        <p>$@((product.Product.Price * product.OrderedQuantity).ToString("#.##"))</p>
                    </div>
                    <div class="col-2">
                        <a href="/cart/remove/@product.ProductsInCartId">Remove</a>
                    </div>
                </div>
            }
            <div class="row p-2 justify-content-end align-items-center">
                <div class="col-auto">
                    <p><strong>Total: $@sum.ToString("#.##")</strong></p>
                </div>
                <div class="col-auto">
                    <a class="btn btn-secondary" asp-action="Checkout" asp-controller="Cart">Checkout</a>
                </div>
            </div>
        }
    }
</div>